@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

header{
    padding: 1rem;
    height: 30vh;
    background-image: linear-gradient(45deg, #000000ae, #00000098), url('./bg.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ddd;
}
header i{
    margin-right: .25rem;
}

.date-time{
    margin-bottom: 2rem;
}
/* main  */
main{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    gap: 2rem;
    min-height: 70vh;
}
.container{
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000005c;
    width: 25%;
}

.form-group{
    padding: .25rem 0;
    margin: .3rem 0;
}
.form-group input, .form-group select{
    width: 100%;
    padding: 15px;
    border-radius: 4px;
   margin-top: .3rem;
}


.form-group button{
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background-color: #4C585B;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .3s;
    transition: all .5s ease;
}
.form-group button:hover{
    background-color: #4e7179;
}
.form-group #clearTransaction{
    background-color: #8D0B41;
}
.form-group #clearTransaction:hover{
    background-color: #a00d4b;
}
/* table  */

.table-container{
    width: 75%;
    background-color: #fff;
    
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table th, table td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
table th{
    background-color: #4C585B;
    color: #fff;
}
table tr:nth-child(even){
    background-color: #f9f9f9;
}
table tr:hover{
    background-color: #f1f1f1;
}


/* footer  */
footer{
    background-color: #4C585B;
    color: #ddd;
    padding: 2rem;
    text-align: center;
    font-size: 12px;
}